.add-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.addNewTask-btn {
  border: none;
  padding: 15px;
  font-size: 1.1rem !;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.addNewTask-btn:hover {
  background-color: antiquewhite !important;
  color: black;
}

.total {
  font-size: 1.3rem;
  background-color: antiquewhite;
  align-self: center;
  padding: 14px;
  border-radius: 5px;
}
